html {
  scroll-behavior: smooth;
}

.maps{
    width: 400px;
    height: 250px;
}

.little-tips{
    font-size: 10px;
    color: grey;
}
.links{
    text-align: center;
}
a:hover{
    color: grey;
    font-size: 20px;
    text-decoration-style:wavy;
}
a:active{
    color: red;
    text-decoration-color: blue;
}
img:hover{
    transform: scale(1.1);
    transition:all 0.3s;
}
h3{
    /*color: darkblue;
    text-decoration-color: lightblue;
    text-underline-offset: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;*/

}